# MongoDB connection URI (replace with your own)
MONGO_URI = "mongodb://localhost:27017"
;MONGO_URI = "mongodb+srv://<username>:<password>@<cluster-url>/<dbname>?retryWrites=true&w=majority"

# Database name
DB_NAME = "ai_engine_db"

# Server port
PORT = 8001

# n8n API key (replace with your own)
N8N_API_KEY = "<your-n8n-api-key>"

# JWT secret (replace with your own secret)
JWT_SECRET = "<your-jwt-secret>"

# Fernet key for password encryption (replace with your own key)
PASS_ENCRYPTION_FERNET_KEY = "<your-fernet-key>"

# n8n server URL
N8N_SERVER_URL = "http://localhost:5678/api/v1"