fastapi[standard]
python-dotenv
beanie
motor
pymongo
cryptography
requests
pydantic
langchain 
langchain-openai
langchain-groq
langfuse
langgraph 
langgraph-supervisor 
langchain-tavily
PyJWT
langgraph-checkpoint-mongodb