.venv
venv
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.env
.env.*
*.env
*.egg-info/
dist/
build/
.idea/
.vscode/
*.swp
.DS_Store
*.bak
*.orig
*.coverage
htmlcov/
instance/
*.pem
*.crt
*.key
uploads/
.cache/
.mypy_cache/
.pytest_cache/
.tox/
.coverage.*
*.tar.gz
*.zip
*.egg
*.wheel
.gitnexus
